<%- include('partials/header') %>
<%- include('partials/file-modal') %>

<div class="container">
    <!-- navigation -->
    <div class="navigation-section">
        <%- include('partials/sidebar') %>
    </div>

    <!-- storage items section -->
    <div class="storage-items">
        <%- include('partials/breadcrumbs') %>

        <%- include('partials/data') %>
    </div>
</div>

<%- include('partials/footer') %>

