<script id="entity-data" type="application/json">
    <%- JSON.stringify(entities) %>
</script>

<% for (let i = 0; i < entities.length; i++) { %>
    <% const isFolder = entities[i].type === 'DIR' %>

    <% const dirUrl = `${baseUrl}/${entities[i].id}` %>

        <% if (isFolder) { %> 
            <a href="<%= dirUrl %>" 
                class="folder entities"
            >
                <div>
                  <%= entities[i].name %>
                </div>

                <div>
                  <p>
                    --
                  </p>

                  <p>
                    <%= formatDate(entities[i].createdAt) %>
                  </p>
                </div>
            </a>
        <% } else { %>
            <button   
              class="file entities" 
              data-id="<%= entities[i].id %>"
            >
            <div>
                <%= entities[i].name %>
            </div>

            <div>
                <p>
                    <%= formatBytes(entities[i].size) %>
                </p>

                <p>
                    <%= formatDate(entities[i].createdAt) %> 
                </p>
            </div>
            </button>
        <% } %>
<% } %>
