<!-- TODO: persistent expanded tree  -->
<div>
    <% function renderTree(directory, level=0) { %>
        <% directory.forEach((dir, index) => { %>

            <% const lastIndex = index === directory.length - 1 %>

            <details class="<% level %>" id="<%= dir.id %>">
                <summary>
                    <a href="<%= baseUrl %>/<%= dir.id %>" 
                       class="directory" 
                       data-id="<%= dir.id %>">
                        <%= dir.name %><span class="slash">/<span>
                    </a>
                </summary>

                <% if (dir.childEntities && dir.childEntities.length > 0) { %>
                    <div class="subtree <%= lastIndex ? 'last-child' : '' %>">
                        <%= renderTree(dir.childEntities, level + 1) %>
                    </div>
                <% } %>
            </details>
        <% }) %> 
    <% } %>

    <%= renderTree(directories) %>
</div>

